# Python
- day1
- day2
- day3
   - subpoint

In [5]:
# Input and output function
# output function
print("hello world")
print("welcome to python programming")

hello world
welcome to python programming

In [8]:
print("markdown cell",end = ' ')
print("code cell")

markdown cell code cell

In [13]:
#input function
print("enter your name: ")
a = input(' ')
print("your name is: ",a)

enter your name:
 satya
your name is:  satya

# -variables are also called as identifiers
# -variable name always starts with alphabets
##  - does not starts with any special char except _
##   -does not start with digits

In [17]:
x=10
type(x)

int

In [18]:
y=12
x+y

22

# fundamental data types
### int
### float
### complex
### boolean
### string

In [21]:
x=10
y=10.5
print(x+y)
type(y)

20.5

float

In [23]:
c=2+2j
type(c)

complex

In [24]:
c=2+2j
d=3+3j
c+d

(5+5j)

# type casting example below

In [31]:
a=12.56
print(int(a))

print(complex(a))

12
(12.56+0j)

In [29]:
complex(3,4)

(3+4j)

# boolean data type
## true
## false

In [35]:
a=True
type(a)

bool

In [38]:
#string
a="python"
b="p"
print(type(a))
print(type(b))

<class 'str'>
<class 'str'>

In [45]:
a="100"
print(type(a))
b=int(a)
print(type(b))
c=float(a)
type(c)

<class 'str'>
<class 'int'>

float

In [47]:
a="1234"
len(a)

4

In [48]:
a=1234
len(str(a))

4

# operators
## arithematic operators:
## +,-,*,/,%,//,**    -->       //-floor division (it will ignore the decimal part) **-exponent

In [49]:
12/56

0.21428571428571427

In [51]:
12//56

0

In [52]:
123//5

24

In [68]:
a=3
b=2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

5
1
6
1.5
1
1
9

# logical operators:
## and,or,not

In [65]:
x=0
y=2
print(x>=20 and y<=3)
print(x>=20 or y<=3)
not x

False
True

True

# relational operators
## <=,<,>=,>,==,!=

In [67]:
a=3
b=3
print(a<b)
print(a>b)
print(a>=b)
print(a<=b)
print(a==b)
print(a!=b)

False
False
True
True
True
False

# membership operator
## -->in,not in

In [69]:
a='python'
print('p'in a)

True

In [70]:
a='helo'
print('p'in a)

False

In [72]:
#case sensitive
a='helo'
print('H'in a)

False

In [73]:
a='helo'
print('h'not in a)

False

In [74]:
a='helo'
print('p'not in a)

True

# conditional statements:
## if(single condition)
## if else(two conditions)
## elif(multiple conditions)

# syntax
# if condition:
 - statements

In [76]:
# to check the given number is even or odd 
input("enter a number")

enter a number5

'5'

In [77]:
type(a)

str

In [88]:

a=int(input("enter a number"))
if a%2==0:
    print("even")
else:
    print("odd")

enter a number5
odd

In [89]:
# check whether the number is divisible by 3 and 5
a=int(input("enter a number"))
if(a%3==0 and a%5==0):
    print("yes")
else:
    print("no")

enter a number30
yes

In [92]:
# to check whether the number is poitive negative or zero
n=int(input(""))
if n>0:
    print("positive")
elif n<0:
    print("negative")
else:
    print("zero")

0
zero

In [106]:
# whether the year is leap year
n=int(input(" "))
if (n%4==0 or n%400==0 and n%100!=0):
    print("leap year")
else:
    print("not a leap year")

 2020
leap year

# looping statements:
### while loop
### for loop
# syntax:
## while condition:
  - statements

In [109]:
#print numbers from 1 to n
n=int(input(""))
i=1
while i<=n:
    print(i)
    i+=1   #in python we use i+=1 instead of i++

5
1
2
3
4
5

In [1]:
pwd

'C:\\Users\\SATYA\\python'